# Masukan APP ID ambil di web my.telegram.org
API_KEY = "16406939"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "dcbc750ad332cd08a787d85b35288005"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLEBuwmsBJWWVYRzciwghcJTKnZvhhPlE_Ijemu6T-dTHbH4ELEx5ZiRujzRxNKxRhzwzuCRMoz5aA7896Rs5UboGQquOodZutrrUQhCqLn-_nvfjjn5Xk2CBO_TMjvRx-oj864wDfd6KU0SIKRL7cEEFX5xlfst7aaQu0-pJ_9Lyf7YbhYfx_83IAARHqq2TGNGVaILldv4SxCh-vEHLDGaV5CmXcN3-WMj9HtKTZtEzWkYZ43O22NIMrQqy9ZHFRZqLMFefdW6RMKProF1pCz9MbCIonUPhlsP61YvwrYHNPOPE9pZQm3bDdZzj-NpIaW35MGcmD1gi5wn0UlHKMu4MV0="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5174117085:AAHxd2IrHwmemgaeI0A1VtkPJSd2CgSTYzA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001791927297 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "mongodb+srv://Adifajarf54321:Adifajarf54321@projectzeaa.b5toc.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

