# Masukan APP ID ambil di web my.telegram.org
API_KEY = "16406939"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "dcbc750ad332cd08a787d85b35288005"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOG8Bu2xkGaNK74tbHBMX1r87nsB6WVHpOXzpbSWVmYfvUeFKVbIwKmmtb_yQoWmDF9Ujzd_LBS_v4o1ObbSv8twe4TSnGo0g2oafnXUsc4dXu9rcr5_9yFyW3TPO1O5EMilkMkn19JB7SdIslO68_ElcXqQqv6fSVwVRzTRshxr_x2lY39T7f0D0Mldjb1AXTFqXbKTx4zCaSBu3UyoiZoOQYXMuXhstvqg3U840O0wvSuMlmh1zju3jof48PEJCXU6m4fAXXSNn0SY5Fa7DxuKSu3gebtT9dLKZQKo_EeUcissSv_Kf3mDV5E8jU8dt_hQAEUXrxgi1t9sPdGxDHs3_Z44=-dTHbH4ELEx5ZiRujzRxNKxRhzwzuCRMoz5aA7896Rs5UboGQquOodZutrrUQhCqLn-_nvfjjn5Xk2CBO_TMjvRx-oj864wDfd6KU0SIKRL7cEEFX5xlfst7aaQu0-pJ_9Lyf7YbhYfx_83IAARHqq2TGNGVaILldv4SxCh-vEHLDGaV5CmXcN3-WMj9HtKTZtEzWkYZ43O22NIMrQqy9ZHFRZqLMFefdW6RMKProF1pCz9MbCIonUPhlsP61YvwrYHNPOPE9pZQm3bDdZzj-NpIaW35MGcmD1gi5wn0UlHKMu4MV0="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5316215213:AAE-ichtsaXawjtO6MncFAzJlPmEPz-J5JY"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001791927297 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://gialjmxi:do0yoAKneMKErTHI0z-CGOHFDbCObePm@heffalump.db.elephantsql.com/gialjmxi"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

